<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lakala.appcomponent.photofilter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus"/>

    <application>
        <activity android:name=".ui.PhotoFilterActivity"/>
        <activity android:name=".internal.ui.AlbumPreviewActivity"/>
        <activity android:name=".internal.ui.SelectedPreviewActivity"/>
        <activity android:name=".internal.ui.FilterPreviewActivity"/>
        <activity android:name=".internal.ui.CameraActivity"/>
    </application>
</manifest>